Source: alan
Section: x11
Priority: optional
Maintainer: Eugenio (g7) <morarossa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), python-support, python (>=2.6)
Standards-Version: 3.9.1
Homepage: http://launchpad.net/alan
Vcs-Bzr: lp:alan
Vcs-Browser: https://code.launchpad.net/~semplice-devs/alan/trunk

Package: alan
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-mpd
Description: Openbox menu framework - Main Executable and Extensions
 Alan is a framework that permits to generate dynamic menus
 just with some python code.
 It supports i18n (via gettext) and can generate a dynamic
 menu tree with only a configuration file (ConfigParser style)
 .
 This package contains the main executable and extensions.

Package: alan-config-semplice
Architecture: all
Recommends: alan
Description: Openbox menu framework - Semplice Configuration
 Alan is a framework that permits to generate dynamic menus
 just with some python code.
 It supports i18n (via gettext) and can generate a dynamic
 menu tree with only a configuration file (ConfigParser style)
 .
 This package contains the semplice settings for alan-gentree.

#Package: alan-doc
#Architecture: all
#Description: documentation for alan
# <insert long description, indented with spaces>
